# Geral
PRODUCTION = # Ex: True
API_URL = ""
FRONTEND_URL = ""

# CORS
CORS_WHITELIST = # Ex: "http://dominio-um.com, http://dominio2.com"

# Keycloak
KEYCLOAK_URL = ""
KEYCLOAK_REALM = ""
KEYCLOAK_CLIENT_ID = ""
KEYCLOAK_CLIENT_SECRET = ""